.content{
    padding: 1rem;
    height: 100vh;
}

.pokemons{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}
h1{
    color: #f00;
}
.pokemon{
    margin: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    /* background-color: #49d0b0; */
    color: #fff;
    border-radius: 1rem;
    /* height: 100px; */
}
.name{
    color: #fff;
    margin: .25rem 0;
    text-transform: capitalize;
}
.detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: cener;
    padding: 1rem;
}
.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: .25rem .5rem;
    margin: 0rem 0.5rem;
    font-size: .625rem;
    cursor: pointer;
}
.pokemon .number{
    color: #000;
    opacity: 0.4;
    align-self: end;
    font-size: .625rem;
}
.pokemon .detail img{
    max-height: 70px;
    align-self: end;
}
.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}
.type{
    text-align: center;
    border-radius: 1rem;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    filter: brightness(1.1);
}
.pokemon .types{
    list-style: none;
}

@media screen and (min-width: 368px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .content{
        width: 990px;
        height: auto;
        margin: 1rem auto;
    }
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
